.container {
    display: grid;
    background-color: white; /* Fondo oscuro para el contenedor */
    border: solid 1px #ccc; /* Borde gris claro */
    border-radius: 8px; /* Bordes redondeados */
}