.cart-item-container {
    display: grid;
    grid-template-columns: 1fr auto auto auto; 
    align-items: center; /* Alinea los elementos verticalmente al centro */
    gap: 1rem;           /* Espacio entre cada columna */
    padding: 0.75rem 0.75rem;
    border-bottom: 1px solid #e2e8f0;
}