<div class="product-mini-card">
  
  <div class="product-mini-card__image-wrapper">
      <!-- Imagen del producto -->
      <img 
        [src]="product().image" 
        [alt]="product().title"
        class="product-mini-card__image"
        loading="lazy"
      />
    <img>
  </div>

  <div class="product-mini-card__info">
    <span class="product-mini-card__category">
      {{ product().category }}
    </span>
    
    <div class="product-mini-card__title" [title]="product().title">
      {{ product().title }}
    </div>
    
    <div class="product-mini-card__footer">
      <span class="product-mini-card__price">
        {{ product().price | currency }}
      </span>
      
      <button 
        (click)="onAddToCart(product())"
        class="product-mini-card__btn">
        Add To Cart
      </button>
    </div>
  </div>
</div>